@media screen and (max-width: 375px) {
    .box-dialog {
        width: 350px;
        margin: 50px auto;
    }

    .divider-img-desktop {
        display: none;
    }

    .divider-img-mobile {
        display: flex;
        margin: 5% auto;
    }

    .message {
        height: 200px;
        width: 330px;
    }

    .dice {
        margin: 10% auto;
    }

    .attribution {
        width: 300px;
        margin: 50% auto 0px;
    }
    
}