body {
    background-color: #202632;
    font-family: 'Manrope', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
}

.box-dialog {
    position: flex;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 550px;
    margin: 5% auto;
    border-radius: 10px;
    vertical-align: middle;
    box-shadow: 10px 10px 5px black;
    color: #D8EDF2;
    background-color: #313A49;
}

.dice {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #53FFAB;
    align-content: center;
    vertical-align: bottom;
    margin: 123px auto;
    }

.dice img {
    margin-top: 25%;
}

.attribution {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
}